@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.light-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bold-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.light-text-curve {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.bold-text-curve {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-style: italic;
}

/* ------------------------------------------------------------------------------------ NAVBAR */

.navbar {
    display: flex;
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 1);
    width: 100%;
    z-index: 99;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-navbar {
    height: 30px;
    width: auto;
    margin: 5px;
    padding-left: 10px;
    user-select: none;
    pointer-events: none;
}

.logo-navbar-2 {
    height: 15px;
    width: auto;
    margin-top: 5px;
    user-select: none;
    pointer-events: none;
}

.menu-nav {
    display: none;
}

/* --------------------------------- MENU HAMBURGESA*/

.burger-menu-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 100;
}

.mobile-nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 56%;
    height: 100%;
    background-color: #e9e9e9;
    padding-top: 80px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 98;
}

.mobile-nav-menu.open {
    transform: translateX(0);
}

.mobile-nav-menu ul {
    list-style: none;
}

.mobile-nav-menu li {
    text-align: end;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 25px;
    cursor: pointer;
}

.close-menu-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 100;
}

.link-container:hover {
    background: linear-gradient(95deg, rgba(255, 255, 255, 0), #41597e 100%, #305386);
}

/* --------- ESTILOS PARA LINKS*/

.menu-nav li a,
.burger-menu-nav li a {
    text-decoration: none;
    color: black;
}

.menu-nav li:last-child a,
.burger-menu-nav li.last-item a {
    color: #0065a8;
    font-weight: bold;
}

.menu-nav li a.active {
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------ LANDING PAGE */

.landing-page-container {
    padding: 0 10px;
    padding-top: 20px;
    display: grid;
    text-align: center;
    overflow: hidden;
}

.section-landing-1 {
    padding: 0 5vw;
}

.section-landing-1 h1 {
    font-size: calc(3vw + 12px);
}

.logo-metlife-main {
    width: 50px;
}

.parrafo2 {
    font-size: 12px;
    text-align: justify;
    padding: 0 20px;
    padding-top: 20px;
    margin: 0;
}

/* ----------------------------------------------------- SECTION 1 */

.section-1-container {
    padding: 10px 0px;
}

.section-1-1 {
    text-align: justify;
    padding: 0 25px;
}

.section-1-parrafo {
    font-size: calc(1vw + 10px);
    margin: 0;
}

.boton-section-1 {
    margin: 10px 0;
    background: linear-gradient(to left, #0065a8 20%, #1497ee);
    color: #e9e9e9;
    border: none;
    border-radius: 30px;
    padding: 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.close-section-btn:hover,
.boton-section-1:hover {
    background: linear-gradient(to left, #1497ee 20%, #0065a8);
    color: #181e2c;
}

.section-1-2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: -10px;
}

.section-1-2-1 {
    position: relative;
}

.img-section-1 {
    width: 150px;
    margin-left: 50px;
    z-index: 1;
}

.section-1-2-2 {
    position: absolute;
    bottom: 15px;
    right: -20px;
    background: linear-gradient(to left, #9fc750, #0065a8 30%, #1497ee);
    color: #e9e9e9;
    text-align: end;
    padding: 2px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.section-1-2-2 h2 {
    margin-bottom: -5px;
    font-size: 19px;
}

.section-1-2-2 p {
    margin: 0;
    font-size: 14px;
}

.hr-final-section {
    padding: 0 10px;
    margin: 0 auto 0;
    margin-top: -27px;
    border: none;
    height: 5px;
    width: 100%;
    background: linear-gradient(to left, #9fc750, #0065a8 60%, #1497ee);
    border-radius: 5px;
    z-index: 2;
}

/* ----------------------------------------------------- SECTION 2 */

.beneficios-title,
.necesito-title {
    font-size: calc(2vw + 9px);
    padding: 20px 0;
    cursor: pointer;
    user-select: none;
}

.beneficio-section,
.necesito-section {
    padding: 0 5px;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.beneficio-section.hidden,
.necesito-section.hidden {
    display: none;
}

.beneficio-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 90px;
    padding: 0 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.background-circle-beneficio {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #0065a8, #9fc750);
    border-radius: 50%;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
}

.img-circle-beneficio {
    width: 50px;
    height: auto;
    object-fit: contain;
}

.content-parrafo-beneficio {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.beneficio-item p,
.necesito-item p {
    font-size: calc(1vw + 10px);
    margin: 0;
}

.close-section-btn {
    display: block;
    margin: 20px auto;
    padding: 5px 100px;
    font-size: 16px;
    color: white;
    background: linear-gradient(to left, #0065a8 20%, #1497ee);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hr-final-section-2 {
    opacity: 1;
    padding: 0 10px;
    margin: 0 auto 0;
    margin-top: -10px;
    border: none;
    height: 5px;
    width: 100%;
    background: linear-gradient(to left, #9fc750, #0065a8 60%, #1497ee);
    border-radius: 5px;
}

/* ----------------------------------------------------- SECTION 3 */

.necesito-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.necesito-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 130px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.necesito-item img {
    width: 70px;
    height: auto;
    margin-top: 10px;
}

.content-parrafo-necesito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ------------------------------------------------------------------------------------ FORM */

.content-form {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.content-form label {
    color: #192543;
    font-size: calc(1vw + 10px);
}

.content-form input,
.content-form select,
.content-form option {
    color: #192543;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-form .form-check-input {
    background-color: #192543;
}

.content-form input,
.content-form select {
    border-radius: 1rem;
}

.form-check-input {
    margin-left: 10px;
    margin-top: 7px;
}

.text-danger {
    font-size: 11px;
    display: block;
}

.content-envio {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;
}

.boton-form {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0.375rem 0.8rem;
    margin-left: 10px; /* distancia del spinner */
    border-radius: 1rem;
    color: #ffffff;
    background-color: #192543;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------------------------------ FOOTER */

.footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.logo-footer {
    height: 15px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 576px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */
    .logo-navbar {
        height: 40px;
        padding-left: 30px;
    }

    .logo-navbar-2 {
        height: 20px;
        margin-top: 10px;
    }

    /* --------------------------------- MENU HAMBURGESA*/

    .burger-menu-icon {
        top: 13px;
        right: 40px;
        font-size: 40px;
    }

    .mobile-nav-menu {
        width: 40%;
        font-size: 20px;
    }

    .mobile-nav-menu li {
        padding-right: 40px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .landing-page-container {
        padding-top: 30px;
    }

    .section-landing-1 {
        padding: 0 5vw;
    }

    .section-landing-1 h1 {
        font-size: calc(2vw + 14px);
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }

    .section-1-1,
    .section-1-2 {
        margin: 0;
        width: 50%;
    }

    .section-1-1 {
        padding: 0 0;
        margin-left: 20px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 8px);
    }

    .boton-section-1 {
        margin: 30px 0;
        padding: 5px 10px;
    }

    .section-1-2 {
        justify-content: flex-start;
        margin-top: -30px;
    }

    .section-1-2-1 {
        margin-top: 20px;
    }

    .img-section-1 {
        width: 240px;
        margin-left: 5vw;
    }

    .section-1-2-2 {
        right: -20px;
        bottom: 15px;
        padding: 1vw 5vw;
    }

    .hr-final-section {
        margin-top: -47px;
        height: 5px;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container,
    .section-3-container {
        padding: 0 20px;
    }

    .beneficios-title,
    .necesito-title {
        font-size: calc(2vw + 15px);
    }

    .content-parrafo-beneficio {
        padding: 0 30px;
    }

    .close-section-btn {
        padding: 5px 200px;
    }

    /* ----------------------------------------------------- SECTION 3 */

    .necesito-item {
        height: 140px;
    }

    .necesito-item img {
        width: 80px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 18px;
    }
}

@media (min-width: 768px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 30px;
        padding-left: 10px;
    }

    .logo-navbar-2 {
        height: 15px;
        margin-top: 7px;
    }

    .menu-nav {
        display: flex;
        list-style: none;
        gap: 5px;
        align-items: center;
        margin: 0;
        padding-right: 10px;
        font-size: 16px;
    }

    .linea-separadora {
        margin-left: 5px;
        user-select: none;
    }

    .burger-menu {
        display: none;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 0 8vw;
    }

    .parrafo2 {
        font-size: 14px;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 30px;
    }

    .boton-section-1 {
        margin: 30px 0;
        padding: 5px 15px;
    }

    .section-1-2 {
        width: 40%;
    }

    .section-1-2-2 {
        padding: 1vw 6vw;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container,
    .section-3-container {
        padding: 0 30px;
    }

    .beneficios-title,
    .necesito-title {
        font-size: calc(2vw + 13px);
        cursor: auto;
    }

    .beneficio-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 10px;
    }

    .beneficio-section.hidden,
    .necesito-section.hidden {
        display: grid;
    }

    .beneficio-item {
        height: 90px;
    }

    .content-parrafo-beneficio {
        padding: 0 5px;
    }

    .beneficio-item p,
    .necesito-item p {
        font-size: calc(1vw + 7px);
    }

    .close-section-btn {
        display: none;
    }

    .hr-final-section-2 {
        margin-top: 20px;
    }

    /* ----------------------------------------------------- SECTION 3 */

    .necesito-items {
        gap: 10px 20px;
    }
    .necesito-item {
        height: 150px;
    }

    .necesito-item img {
        width: 90px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 20px;
    }
}

@media (min-width: 992px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 40px;
        padding-left: 35px;
    }

    .logo-navbar-2 {
        height: 20px;
        margin-top: 9px;
    }

    .menu-nav {
        gap: 10px;
        padding-right: 35px;
        font-size: 19px;
    }

    .linea-separadora {
        margin-left: 10px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 0 11vw;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 30px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 7px);
    }

    .boton-section-1 {
        padding: 10px 20px;
        font-size: 20px;
    }

    .section-1-2 {
        margin-top: -60px;
    }

    .img-section-1 {
        width: 270px;
        margin-left: 7vw;
    }

    .section-1-2-2 {
        right: -20px;
        padding: 1vw 9vw;
    }

    .section-1-2-2 h2 {
        font-size: 22px;
        margin-right: -40px;
    }

    .section-1-2-2 p {
        font-size: 16px;
        margin-right: -40px;
    }

    .hr-final-section {
        width: 95%;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .beneficios-title,
    .necesito-title {
        font-size: calc(2vw + 15px);
        cursor: auto;
    }

    .beneficio-section {
        gap: 0 20px;
        padding: 10px;
    }

    .beneficio-item {
        height: 90px;
        padding: 0 10px;
    }

    .beneficio-item p,
    .necesito-item p {
        font-size: calc(1vw + 7px);
    }

    .hr-final-section-2 {
        width: 95%;
    }

    /* ----------------------------------------------------- SECTION 3 */

    .section-3-container {
        padding: 0 40px;
    }

    .necesito-items {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 30px;
    }
    .necesito-item {
        height: 180px;
    }

    .necesito-item img {
        width: 100px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 23px;
    }
}

@media (min-width: 1200px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 50px;
        padding-left: 65px;
    }

    .logo-navbar-2 {
        margin-top: 15px;
    }

    .menu-nav {
        gap: 13px;
        padding-right: 60px;
        font-size: 22px;
    }

    .linea-separadora {
        margin-left: 13px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 0 13vw;
    }

    .parrafo2 {
        font-size: 16px;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 65px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 6px);
    }

    .boton-section-1 {
        padding: 15px 25px;
        font-size: 22px;
    }

    .section-1-2 {
        margin-top: -80px;
    }

    .img-section-1 {
        margin-left: 9vw;
    }

    .section-1-2-2 {
        padding: 1vw 11vw;
    }

    .section-1-2-2 h2 {
        margin-right: -50px;
    }

    .section-1-2-2 p {
        margin-right: -50px;
    }

    .hr-final-section {
        height: 7px;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container {
        padding: 0 50px;
    }

    .beneficio-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 10px;
    }

    .beneficio-item {
        height: 100px;
        padding: 0 5px;
    }

    .background-circle-beneficio {
        width: 90px;
        height: 90px;
    }

    .content-parrafo-beneficio {
        padding: 0 10px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 2px);
    }

    .hr-final-section-2 {
        height: 7px;
    }

    /* ----------------------------------------------------- SECTION 3 */

    .section-3-container {
        padding: 0 90px;
    }

    .necesito-items {
        gap: 20px 40px;
    }

    .necesito-item {
        height: 165px;
    }

    .necesito-item p {
        font-size: calc(1vw + 5px);
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 26px;
    }
}

@media (min-width: 1400px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 70px;
        padding-left: 75px;
    }

    .logo-navbar-2 {
        margin-top: 25px;
    }

    .menu-nav {
        gap: 16px;
        padding-right: 80px;
        font-size: 24px;
    }

    .linea-separadora {
        margin-left: 16px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 0 16vw;
    }

    .parrafo2 {
        font-size: 17px;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 80px;
        margin-top: 40px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 6px);
    }

    .boton-section-1 {
        padding: 20px 30px;
        font-size: 25px;
    }

    .section-1-2 {
        margin-top: -80px;
    }

    .img-section-1 {
        margin-left: 8vw;
        width: 330px;
    }

    .section-1-2-2 {
        padding: 1vw 13vw;
    }

    .section-1-2-2 h2 {
        font-size: 25px;
        margin-right: -80px;
    }

    .section-1-2-2 p {
        font-size: 18px;
        margin-right: -80px;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container {
        padding: 0 70px;
    }

    .beneficio-section {
        gap: 0 20px;
    }

    .beneficio-item {
        height: 110px;
        padding: 0 5px;
    }

    .background-circle-beneficio {
        width: 100px;
        height: 100px;
    }

    .img-circle-beneficio {
        width: 70px;
    }

    .content-parrafo-beneficio {
        padding: 0 5px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 2px);
    }

    /* ----------------------------------------------------- SECTION 3 */

    .section-3-container {
        padding: 0 150px;
    }

    .necesito-item {
        height: 175px;
    }

    .necesito-item p {
        font-size: calc(1vw + 6px);
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 30px;
    }
}

@media (min-width: 1700px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 80px;
        padding-left: 130px;
    }

    .logo-navbar-2 {
        margin-top: 35px;
    }

    .menu-nav {
        gap: 19px;
        padding-right: 130px;
        font-size: 28px;
    }

    .linea-separadora {
        margin-left: 19px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 10px 20vw;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 130px;
        margin-top: 100px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 7px);
    }

    .boton-section-1 {
        padding: 20px 50px;
    }

    .section-1-2 {
        margin-top: -20px;
    }

    .img-section-1 {
        width: 400px;
    }

    .section-1-2-2 {
        padding: 0.5vw 14vw;
    }

    .section-1-2-2 h2 {
        font-size: 28px;
        margin-right: -130px;
    }

    .section-1-2-2 p {
        font-size: 20px;
        margin-right: -130px;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container {
        padding: 0 110px;
    }

    .beneficio-section {
        gap: 0 10px;
    }

    .beneficio-item {
        height: 140px;
        padding: 0 5px;
    }

    .background-circle-beneficio {
        width: 130px;
        height: 130px;
    }

    .img-circle-beneficio {
        width: 90px;
    }

    .content-parrafo-beneficio {
        padding: 0 5px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 1px);
    }

    /* ----------------------------------------------------- SECTION 3 */

    .section-3-container {
        padding: 0 200px;
    }

    .necesito-item {
        height: 190px;
    }

    .necesito-item p {
        font-size: calc(1vw + 7px);
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 35px;
    }
}
