@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.light-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.bold-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.light-text-curve {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.bold-text-curve {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-style: italic;
}

/* ------------------------------------------------------------------------------------ NAVBAR */

.navbar {
    display: flex;
    background-color: #192543;
    color: white;
    width: 100%;
    z-index: 99;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-navbar {
    height: 30px;
    width: auto;
    margin: 5px;
    padding-left: 10px;
    user-select: none;
    pointer-events: none;
}

.reclutamet-text {
    padding-top: 10px;
    font-size: 12px;
    white-space: nowrap;
    user-select: none;
}

.menu-nav {
    display: none;
}

/* --------------------------------- MENU HAMBURGESA*/

.burger-menu-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.mobile-nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 56%;
    height: 100%;
    background: linear-gradient(135deg, #445068, #293753, #445068);
    padding-top: 80px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 98;
}

.mobile-nav-menu.open {
    transform: translateX(0);
}

.mobile-nav-menu ul {
    list-style: none;
}

.mobile-nav-menu li {
    text-align: end;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 25px;
    cursor: pointer;
}

.close-menu-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.link-container:hover {
    background: linear-gradient(95deg, rgba(255, 255, 255, 0), #41597e 100%, #305386);
}

/* --------- ESTILOS PARA LINKS*/

.menu-nav li a,
.mobile-nav-menu li a {
    text-decoration: none;
    color: white;
}

.menu-nav li a.active,
.mobile-nav-menu li a.active {
    font-weight: bold;
    color: #9fc750;
}

/* ------------------------------------------------------------------------------------ HOMEPAGE */

.homepage {
    position: relative;
    overflow: hidden;
}

.background-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 95vw;
    background-color: #1d3b6f;
    background-image: url('./assets/images/Fondo Circulo Home.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: -1;
}

.content-home-1 {
    position: relative;
    z-index: 1;
}

.content-home-1 p {
    padding: 2vw 0;
    margin: 0;
    font-size: calc(1vw + 8px);
    color: white;
    text-align: center;
}

.content-home-1 h1 {
    text-align: center;
    margin: 0;
    margin-right: 30vw;
    font-size: calc(2vw + 10px);
    color: white;
}

.content-img-portada-home {
    display: flex;
    justify-content: end;
    padding-right: 5vw;
    margin-top: -10vw;
}

.img-portada-home {
    width: 47vw;
    height: auto;
}

.content-home-2 h2 {
    padding: 0 2vw;
    margin: 0;
    margin-top: 2vw;
    font-size: calc(2vw + 7px);
    color: #305386;
    text-align: center;
}

.div-pag hr {
    border: none;
    height: 5px;
    background-color: #192543;
    margin: 10px 0;
}

.parrafo2 {
    font-size: 12px;
    text-align: justify;
    padding: 20px 20px;
}

/* ------------------------------------------------------------------------------------ FORM */

.content-form {
    width: 100%;
    padding: 20px;
}

.content-form .form-block-1,
.content-form .form-block-2 {
    display: flex;
    flex-direction: column;
}

.content-form .form-block-1 > div,
.content-form .form-block-2 > div {
    flex: 1 1 calc(50% - 1.5rem);
    margin-top: 5px;
}

.content-form label {
    color: #192543;
    font-size: calc(1vw + 10px);
}

.content-form input,
.content-form select,
.content-form option {
    color: #ffffff;
    background-color: #1d3b6f;
}

.content-form input,
.content-form select {
    border-radius: 1.5rem;
}

.text-danger {
    font-size: 11px;
    display: block;
}

.content-envio {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.boton-form {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0.375rem 0.8rem;
    margin-right: 10px; /* distancia del spinner */
    border-radius: 1rem;
    color: #ffffff;
    background-color: #192543;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------------------------------ BENEFICIOS */

.beneficios-title {
    font-size: calc(2vw + 10px);
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
}

.beneficio-section {
    padding: 0 10px;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.beneficio-section.hidden {
    display: none;
}

.beneficio-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 90px;
    padding: 0 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.background-circle-beneficio {
    width: 80px;
    height: 80px;
    background-color: #1d3b6f;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.content-parrafo-beneficio {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.beneficio-item p {
    font-size: calc(1vw + 10px);
    margin: 0;
}

/* ------------------------------------------------------------------------------------ QUE NECESITO */

.content-necesito {
    padding: 0 10px;
    text-align: center;
}

.necesito-title {
    font-size: calc(2vw + 10px);
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
}

.necesito-section {
    padding: 0 10px;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.necesito-section.hidden {
    display: none;
}

.necesito-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.necesito-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.necesito-item img {
    width: 20vw;
    height: auto;
    margin-bottom: 10px;
}

.content-parrafo-necesito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.necesito-item p {
    font-size: calc(1vw + 10px);
    margin: 0;
}

.close-section-btn {
    display: block;
    margin: 20px auto;
    padding: 5px 100px;
    font-size: 16px;
    color: white;
    background-color: #192543;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-section-btn:hover {
    background-color: #4a5b85;
    color: #181e2c;
}

/* ------------------------------------------------------------------------------------ FOOTER */

.footer {
    background-color: #192543;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.texto-footer-1 {
    padding-bottom: 10px;
}

.texto-footer-1,
.texto-footer-2 {
    font-size: 12px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 576px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */
    .logo-navbar {
        height: 40px;
        padding-left: 30px;
    }

    .reclutamet-text {
        padding-top: 15px;
        font-size: 15px;
    }

    /* --------------------------------- MENU HAMBURGESA*/

    .burger-menu-icon {
        top: 13px;
        right: 40px;
        font-size: 40px;
    }

    .mobile-nav-menu {
        width: 40%;
        font-size: 20px;
    }

    .mobile-nav-menu li {
        padding-right: 40px;
    }

    /* ------------------------------------------------------------------------------------ HOMEPAGE */

    .background-circle {
        width: 90vw;
        height: 90vw;
    }

    .content-home-1 h1 {
        margin-top: 2vw;
        font-size: calc(2vw + 14px);
    }

    .content-img-portada-home {
        margin-top: -15vw;
    }

    .img-portada-home {
        width: 40vw;
    }

    .content-home-2 {
        padding: 0 20px;
    }

    .content-home-2 h2 {
        font-size: calc(2vw + 2px);
    }

    /* ------------------------------------------------------------------------------------ FORM */

    .content-form .form-block-1,
    .content-form .form-block-2 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .form-block-1,
    .form-block-2 {
        flex: 1 1 calc(50% - 1rem);
    }

    /* ------------------------------------------------------------------------------------ BENEFICIOS */

    .beneficios-title {
        font-size: calc(2vw + 15px);
    }

    .content-parrafo-beneficio {
        padding: 0 50px;
    }

    /* ------------------------------------------------------------------------------------ QUE NECESITO */

    .content-necesito {
        padding: 0 30px;
    }

    .necesito-title {
        font-size: calc(2vw + 15px);
    }

    .necesito-section {
        gap: 20px;
    }

    .necesito-item {
        height: 220px;
    }

    .close-section-btn {
        padding: 5px 200px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px;
    }

    .texto-footer-1 {
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 30px;
        padding-left: 10px;
    }

    .menu-nav {
        display: flex;
        list-style: none;
        gap: 5px;
        align-items: center;
        margin: 0;
        padding-right: 10px;
        font-size: 16px;
    }

    .reclutamet-text {
        padding-top: 11px;
    }

    .linea-separadora {
        margin-left: 5px;
        user-select: none;
    }

    .burger-menu {
        display: none;
    }

    /* ------------------------------------------------------------------------------------ HOMEPAGE */

    .background-circle {
        width: 85vw;
        height: 80vw;
    }

    .content-home-1 h1 {
        font-size: calc(2vw + 16px);
    }

    .content-img-portada-home {
        padding-right: 10vw;
        margin-top: -15vw;
    }

    .img-portada-home {
        width: 36vw;
    }

    .content-home-2 {
        padding: 0 40px;
    }

    .content-home-2 h2 {
        font-size: calc(2vw + 2px);
    }

    .div-pag hr {
        height: 5px;
        margin: 20px 50px;
        border-radius: 5px;
    }

    .parrafo2 {
        font-size: 14px;
    }

    /* ------------------------------------------------------------------------------------ BENEFICIOS */

    .beneficios-title {
        font-size: calc(2vw + 13px);
        cursor: auto;
    }

    .beneficio-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 10px;
    }

    .beneficio-section.hidden {
        display: grid;
    }

    .beneficio-item {
        height: 110px;
    }

    .content-parrafo-beneficio {
        padding: 0 10px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 7px);
    }

    /* ------------------------------------------------------------------------------------ QUE NECESITO */

    .content-necesito {
        padding: 0 60px;
    }

    .necesito-section.hidden {
        display: grid;
    }

    .necesito-items {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .necesito-title {
        font-size: calc(2vw + 13px);
        margin-bottom: 20px;
        cursor: auto;
    }

    .necesito-item img {
        width: 15vw;
    }

    .necesito-item p {
        font-size: calc(1vw + 8px);
    }

    .close-section-btn {
        display: none;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .texto-footer-1 {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 40px;
        padding-left: 40px;
    }

    .reclutamet-text {
        padding-top: 22px;
    }

    .menu-nav {
        gap: 10px;
        padding-right: 35px;
        font-size: 19px;
    }

    .linea-separadora {
        margin-left: 10px;
    }

    /* ------------------------------------------------------------------------------------ HOMEPAGE */

    .background-circle {
        width: 80vw;
        height: 75vw;
    }

    .content-home-1 h1 {
        margin-right: 25vw;
        font-size: calc(2vw + 14px);
    }

    .content-img-portada-home {
        padding-right: 13vw;
        margin-top: -12vw;
    }

    .img-portada-home {
        width: 32vw;
    }

    .content-home-2 {
        padding: 0 80px;
    }

    .content-home-2 h2 {
        font-size: calc(2vw + 1px);
    }

    /* ------------------------------------------------------------------------------------ BENEFICIOS */

    .beneficios-title {
        font-size: calc(2vw + 15px);
        cursor: auto;
    }

    .beneficio-section {
        gap: 0 20px;
        padding: 10px;
    }

    .beneficio-item {
        height: 120px;
        padding: 0 10px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 7px);
    }

    /* ------------------------------------------------------------------------------------ QUE NECESITO */

    .content-necesito {
        padding: 0 80px;
    }

    .necesito-section {
        gap: 20px;
    }

    .necesito-title {
        font-size: calc(2vw + 15px);
        margin-bottom: 30px;
    }

    .necesito-item img {
        width: 12vw;
    }

    .necesito-item p {
        font-size: calc(1vw + 7px);
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .footer-content {
        padding: 0 50px;
    }

    .texto-footer-1 {
        font-size: 18px;
    }

    .texto-footer-2 {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 50px;
        padding-left: 70px;
    }

    .reclutamet-text {
        padding-top: 30px;
    }

    .menu-nav {
        gap: 13px;
        padding-right: 60px;
        font-size: 22px;
    }

    .linea-separadora {
        margin-left: 13px;
    }

    /* ------------------------------------------------------------------------------------ HOMEPAGE */

    .background-circle {
        width: 75vw;
        height: 68vw;
    }

    .content-home-1 h1 {
        margin-right: 21vw;
        margin-top: 4vw;
        font-size: calc(2vw + 20px);
    }

    .content-img-portada-home {
        padding-right: 15vw;
        margin-top: -17vw;
    }

    .img-portada-home {
        width: 29vw;
    }

    .content-home-2 {
        padding: 0 100px;
    }

    .content-home-2 h2 {
        font-size: calc(2vw + 1px);
        margin-top: 0;
    }

    .parrafo2 {
        font-size: 16px;
    }

    /* ------------------------------------------------------------------------------------ BENEFICIOS */

    .beneficio-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 10px;
    }

    .beneficio-item {
        height: 100px;
        padding: 0 5px;
    }

    .content-parrafo-beneficio {
        padding: 0 1px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 0px);
    }

    /* ------------------------------------------------------------------------------------ QUE NECESITO */

    .content-necesito {
        padding: 0 110px;
    }

    .necesito-section {
        gap: 10px 30px;
    }

    .necesito-item {
        height: 200px;
    }

    .necesito-item img {
        width: 9vw;
    }

    .necesito-item p {
        font-size: calc(1vw + 5px);
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .footer-content {
        padding: 0 90px;
    }

    .texto-footer-1 {
        font-size: 20px;
    }

    .texto-footer-2 {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 70px;
        padding-left: 80px;
    }

    .reclutamet-text {
        padding-top: 39px;
    }

    .menu-nav {
        gap: 16px;
        padding-right: 80px;
        font-size: 24px;
    }

    .linea-separadora {
        margin-left: 16px;
    }

    /* ------------------------------------------------------------------------------------ HOMEPAGE */

    .background-circle {
        width: 70vw;
        height: 65vw;
    }

    .content-home-1 h1 {
        margin-right: 19vw;
        margin-top: 2vw;
    }

    .content-img-portada-home {
        padding-right: 14vw;
        margin-top: -13vw;
    }

    .img-portada-home {
        width: 28vw;
    }

    .content-home-2 {
        padding: 0 140px;
    }

    .content-home-2 h2 {
        font-size: calc(2vw + 0px);
        margin-top: 10px;
    }

    .parrafo2 {
        font-size: 17px;
    }

    /* ------------------------------------------------------------------------------------ BENEFICIOS */

    .beneficio-section {
        gap: 0 20px;
    }

    .beneficio-item {
        height: 120px;
        padding: 0 5px;
    }

    .content-parrafo-beneficio {
        padding: 0 1px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 0px);
    }

    /* ------------------------------------------------------------------------------------ QUE NECESITO */

    .content-necesito {
        padding: 0 150px;
    }

    .necesito-section {
        gap: 10px 30px;
    }

    .necesito-item {
        height: 220px;
    }

    .necesito-item img {
        width: 8vw;
    }

    .necesito-item p {
        font-size: calc(1vw + 4px);
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .footer-content {
        padding: 0 100px;
    }

    .texto-footer-1 {
        font-size: 22px;
    }

    .texto-footer-2 {
        font-size: 18px;
    }
}

@media (min-width: 1700px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 80px;
        padding-left: 130px;
    }

    .reclutamet-text {
        padding-top: 47px;
    }

    .menu-nav {
        gap: 19px;
        padding-right: 130px;
        font-size: 28px;
    }

    .linea-separadora {
        margin-left: 19px;
    }

    /* ------------------------------------------------------------------------------------ HOMEPAGE */

    .content-home-1 h1 {
        font-size: calc(2vw + 25px);
        margin-top: 3vw;
    }

    .content-img-portada-home {
        padding-right: 16vw;
    }

    .content-home-2 {
        padding: 0 210px;
        padding-top: 45px;
    }

    .content-home-2 h2 {
        font-size: calc(1vw + 15px);
    }

    /* ------------------------------------------------------------------------------------ BENEFICIOS */

    .beneficio-section {
        gap: 0 10px;
    }

    .beneficio-item {
        height: 120px;
        padding: 0 5px;
    }

    .content-parrafo-beneficio {
        padding: 0 1px;
    }

    .beneficio-item p {
        font-size: calc(1vw + -1px);
    }

    /* ------------------------------------------------------------------------------------ QUE NECESITO */

    .content-necesito {
        padding: 0 220px;
    }

    .necesito-section {
        gap: 10px 10px;
    }

    .necesito-item {
        height: 100%;
    }

    .necesito-item img {
        width: 7vw;
    }

    .necesito-item p {
        font-size: calc(1vw + 3px);
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .footer-content {
        padding: 0 130px;
    }

    .texto-footer-1 {
        font-size: 25px;
    }

    .texto-footer-2 {
        font-size: 20px;
    }
}
