@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: white;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.light-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bold-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.light-text-curve {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.bold-text-curve {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-style: italic;
}

/* ------------------------------------------------------------------------------------ NAVBAR */

.navbar {
    position: fixed;
    display: flex;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 1);
    width: 100%;
    z-index: 99;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-navbar {
    height: 30px;
    width: auto;
    margin: 5px;
    padding-left: 10px;
    user-select: none;
    pointer-events: none;
}

.logo-navbar-2 {
    height: 15px;
    width: auto;
    margin-top: 5px;
    user-select: none;
    pointer-events: none;
}

.menu-nav {
    display: none;
}

/* --------------------------------- MENU HAMBURGESA*/

.burger-menu-icon {
    position: fixed;
    top: 12px;
    right: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 100;
}

.mobile-nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 56%;
    height: 100%;
    background-color: white;
    padding-top: 80px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 98;
}

.mobile-nav-menu.open {
    transform: translateX(0);
}

.mobile-nav-menu ul {
    list-style: none;
}

.mobile-nav-menu li {
    text-align: end;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 25px;
    cursor: pointer;
}

.close-menu-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 100;
}

.link-container:hover {
    background: linear-gradient(95deg, rgba(255, 255, 255, 0), #41597e 100%, #305386);
}

/* --------- ESTILOS PARA LINKS*/

.menu-nav li a,
.burger-menu-nav li a {
    text-decoration: none;
    color: black;
}

.menu-nav li a:hover {
    color: #9fc750;
}

.menu-nav li a.active:hover {
    color: black;
}

.menu-nav li a.active,
.burger-menu-nav li a.active {
    font-weight: bold;
}

.menu-nav li:last-child a,
.burger-menu-nav li.last-item a {
    color: #0065a8;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------ LANDING PAGE */

.landing-page-container {
    padding: 0 10px;
    padding-top: 80px;
    display: grid;
    text-align: center;
    overflow: hidden;
}

.section-landing-1 {
    padding: 0 5vw;
}

.section-landing-1 h1 {
    font-size: calc(3vw + 12px);
}

.logo-metlife-main {
    width: 50px;
    user-select: none;
    pointer-events: none;
}

.parrafo2 {
    font-size: 12px;
    text-align: justify;
    padding: 0 30px;
    padding-top: 20px;
    margin: 0;
}

.parrafo2 a {
    text-decoration: none;
}

/* ----------------------------------------------------- SECTION 1 */

.section-1-container {
    padding: 10px 0px;
}

.section-1-1 {
    padding: 0 25px;
}

.section-1-parrafo {
    text-align: justify;
    font-size: calc(1vw + 10px);
    margin: 0;
}

.boton-section-1 {
    margin: 10px 0;
    background: linear-gradient(to left, #0065a8 20%, #1497ee);
    color: #f1f1f1;
    border: none;
    border-radius: 30px;
    padding: 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.close-section-btn:hover,
.boton-section-1:hover,
.boton-form:hover,
.boton-section-A2:hover {
    background: linear-gradient(to left, #1497ee 20%, #0065a8);
    color: #181e2c;
}

.section-1-2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: -10px;
}

.section-1-2-1 {
    position: relative;
}

.img-section-1 {
    width: 150px;
    margin-left: 50px;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.section-1-2-2 {
    position: absolute;
    bottom: 15px;
    right: -20px;
    background: linear-gradient(to left, #9fc750, #0065a8 30%, #1497ee);
    color: #f1f1f1;
    text-align: end;
    padding: 2px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(20px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.section-1-2-2 h2 {
    margin-bottom: -5px;
    font-size: 19px;
}

.section-1-2-2 p {
    margin: 0;
    font-size: 14px;
}

.hr-final-section {
    padding: 0 10px;
    margin: 0 auto 0;
    margin-top: -27px;
    border: none;
    height: 5px;
    width: 100%;
    background: linear-gradient(to left, #9fc750, #0065a8 60%, #1497ee);
    border-radius: 5px;
    z-index: 2;
}

/* ----------------------------------------------------- SECTION 2 */

.beneficios-title,
.necesito-title {
    font-size: calc(2vw + 8px);
    padding: 20px 0;
    cursor: pointer;
    user-select: none;
}

.beneficio-section,
.necesito-section {
    padding: 0 5px;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.beneficio-section.hidden,
.necesito-section.hidden {
    display: none;
}

.beneficio-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 90px;
    padding: 0 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.background-circle-beneficio {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #0065a8 60%, #9fc750);
    border-radius: 50%;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
}

.img-circle-beneficio {
    width: 50px;
    height: auto;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

.content-parrafo-beneficio {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.beneficio-item p,
.necesito-item p {
    font-size: calc(1vw + 10px);
    margin: 0;
}

.close-section-btn {
    display: block;
    margin: 20px auto;
    padding: 5px 100px;
    font-size: 16px;
    color: white;
    background: linear-gradient(to left, #0065a8 20%, #1497ee);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hr-final-section-2 {
    opacity: 1;
    padding: 0 10px;
    margin: 0 auto 0;
    margin-top: -10px;
    border: none;
    height: 5px;
    width: 100%;
    background: linear-gradient(to left, #9fc750, #0065a8 60%, #1497ee);
    border-radius: 5px;
}

/* ----------------------------------------------------- SECTION 3 */

.necesito-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.necesito-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 142px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.necesito-item img {
    width: 70px;
    height: auto;
    margin-top: 10px;
}

.img-section-3 {
    user-select: none;
    pointer-events: none;
}

.content-parrafo-necesito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ----------------------------------------------------- SECTION 4 */

.section-4-titulo {
    padding: 0 25px;
    padding-top: 20px;
}

.section-4-titulo h2 {
    font-size: calc(2vw + 11px);
}

.section-4-3 {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.section-4-3-1 {
    position: relative;
}

.img-section-4 {
    width: 150px;
    margin-left: 30px;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.section-4-3-2 {
    position: absolute;
    bottom: 15px;
    left: -20px;
    background: linear-gradient(to right, #9fc750, #0065a8 30%, #1497ee);
    color: #f1f1f1;
    text-align: start;
    padding: 2px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(-20px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.section-4-3-2 h2 {
    margin-bottom: -5px;
    font-size: 19px;
}

.section-4-3-2 p {
    margin: 0;
    font-size: 14px;
}

.hr-final-section-4 {
    padding: 0 10px;
    margin: 0 auto 0;
    margin-top: -17px;
    border: none;
    height: 5px;
    width: 100%;
    background: linear-gradient(to left, #9fc750, #0065a8 60%, #1497ee);
    border-radius: 5px;
    z-index: 2;
}

/* ------------------------------------------------------------------------------------ FORM */

.content-form {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.input-control {
    padding: 5px 0;
}

.content-form label {
    font-size: calc(1vw + 10px);
}

.content-form input,
.content-form select,
.content-form option {
    color: #192543;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border: #181e2c;
}

.content-form .form-check-input {
    background-color: #0065a8;
    border: none;
}

.content-form input,
.content-form select {
    border-radius: 1rem;
}

.form-check-input {
    margin-left: 10px;
    margin-top: 7px;
}

.text-danger {
    font-size: 11px;
    display: block;
}

.content-envio {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
}

.boton-form {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0.375rem 0.8rem;
    margin-left: 10px; /* distancia del spinner */
    border-radius: 1rem;
    color: #f1f1f1;
    background: linear-gradient(to left, #0065a8 20%, #1497ee);
    background-color: #192543;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
}

.campos-obligatorios {
    position: absolute;
    right: 20px;
    font-size: 12px;
}

/* ------------------------------------------------------------------------------------ AGENTE PAGE */

/* ----------------------------------------------------- SECTION A1 */

.section-A1-container {
    padding: 10px 0px;
}

.textos-section-A1 h1 {
    font-size: calc(2vw + 16px);
    margin-top: -10px;
    padding-bottom: 10px;
}

.textos-section-A1 p {
    text-align: justify;
    font-size: calc(1vw + 11px);
    padding: 0 20px;
    padding-top: 10px;
    margin: 0;
}

.textos-section-A1 h2 {
    font-size: calc(2vw + 14px);
    padding: 15px 0;
    padding-bottom: 20px;
}

.img-section-A1 {
    width: 150px;
    margin-left: 50px;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.hr-final-section-A1 {
    padding: 0 10px;
    margin: 0 auto 0;
    margin-top: -27px;
    border: none;
    height: 5px;
    width: 100%;
    background: linear-gradient(to left, #9fc750, #0065a8 60%, #1497ee);
    border-radius: 5px;
    z-index: 2;
}

/* ----------------------------------------------------- SECTION A2 */

.section-A2-container {
    padding: 20px 10px;
}

.section-A2-container h2 {
    font-size: calc(2vw + 10px);
}

.section-A2-container p {
    padding: 10px 30px;
    font-size: calc(1vw + 11px);
    text-align: justify;
}

.section-A2-2 {
    height: 200px;
}

.boton-section-A2 {
    text-decoration: none;
    padding: 5px 50px;
    font-size: 16px;
    color: white;
    background: linear-gradient(to left, #0065a8 20%, #1497ee);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hr-final-section-A2 {
    opacity: 1;
    padding: 0 10px;
    margin: 0 auto 0;
    margin-top: 18px;
    border: none;
    height: 5px;
    width: 100%;
    background: linear-gradient(to left, #9fc750, #0065a8 60%, #1497ee);
    border-radius: 5px;
}

/* ------------------------------------------------------------------------------------ FORMULARIO ENVIADO */

.send-form-container {
    padding: 0 10px;
    padding-top: 80px;
    display: grid;
    text-align: center;
    overflow: hidden;
}

.send-form-container h1 {
    font-size: 40px;
    padding: 10px 0;
}

.send-form-container p {
    padding-bottom: 20px;
}

/* ------------------------------------------------------------------------------------ POLITICAS PAGE */

.politicas-page-container {
    padding: 0 10px;
    padding-top: 80px;
    margin-bottom: 20px;
}

.politicas-titulos {
    text-align: center;
    padding-bottom: 10px;
}

.politicas-titulos h1 {
    font-size: 25px;
    margin: 0;
}

.politicas-titulos h2 {
    font-size: 16px;
}

.politicas-titulos p {
    margin: 0;
    font-size: 15px;
}

.politicas-texto-1,
.politicas-texto-2 {
    padding: 0 10px;
}

.politicas-texto-1 p,
.politicas-texto-2 p {
    text-align: justify;
    padding: 5px 0;
    font-size: 15px;
    margin: 0;
}

.politicas-texto-1 h3,
.politicas-texto-1 h4,
.politicas-texto-2 h3,
.politicas-texto-2 h4 {
    font-size: 16px;
    padding-top: 20px;
}

/* ------------------------------------------------------------------------------------ FOOTER */

.footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.logo-footer {
    height: 15px;
    user-select: none;
    pointer-events: none;
}

.slide-in {
    opacity: 1;
    transform: translateX(0);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 576px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */
    .logo-navbar {
        height: 40px;
        padding-left: 30px;
    }

    .logo-navbar-2 {
        height: 20px;
        margin-top: 10px;
    }

    /* --------------------------------- MENU HAMBURGESA*/

    .burger-menu-icon {
        top: 13px;
        right: 40px;
        font-size: 40px;
    }

    .mobile-nav-menu {
        width: 40%;
        font-size: 20px;
    }

    .mobile-nav-menu li {
        padding-right: 40px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .landing-page-container {
        padding-top: 90px;
    }

    .section-landing-1 {
        padding: 0 5vw;
    }

    .section-landing-1 h1 {
        font-size: calc(2vw + 14px);
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }

    .section-1-1,
    .section-1-2 {
        margin: 0;
        width: 50%;
    }

    .section-1-1 {
        padding: 0 0;
        margin-left: 20px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 8px);
    }

    .boton-section-1 {
        margin: 30px 0;
        padding: 5px 10px;
    }

    .section-1-2 {
        justify-content: flex-start;
        margin-top: -30px;
    }

    .section-1-2-1 {
        margin-top: 20px;
    }

    .img-section-1 {
        width: 240px;
        margin-left: 5vw;
    }

    .section-1-2-2 {
        right: -20px;
        bottom: 15px;
        padding: 1vw 5vw;
    }

    .hr-final-section {
        margin-top: -47px;
        height: 5px;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container,
    .section-3-container {
        padding: 0 20px;
    }

    .beneficios-title,
    .necesito-title {
        font-size: calc(2vw + 13px);
    }

    .content-parrafo-beneficio {
        padding: 0 30px;
    }

    .close-section-btn {
        padding: 5px 200px;
    }

    /* ----------------------------------------------------- SECTION 3 */

    .necesito-item {
        height: 142px;
    }

    .necesito-item img {
        width: 80px;
    }

    /* ----------------------------------------------------- SECTION 4 */

    .section-4-titulo {
        padding: 20px 15px;
    }

    .section-4-titulo h2 {
        font-size: calc(2vw + 18px);
    }

    .img-section-4 {
        width: 240px;
        margin-left: 60px;
    }

    .section-4-3-2 {
        padding: 1vw 20vw;
    }

    .section-4-3-2 h2 {
        margin-bottom: -5px;
        margin-left: -45px;
        font-size: 19px;
    }

    .section-4-3-2 p {
        font-size: 14px;
        margin-left: -45px;
    }

    /* ------------------------------------------------------------------------------------ FORM */

    .content-form {
        padding: 0 30px;
    }

    .content-form label {
        font-size: calc(1vw + 9px);
    }

    .content-form input,
    .content-form select,
    .content-form option {
        font-size: calc(1vw + 8px);
    }

    .form-check-input {
        margin-left: 25px;
    }

    .boton-form {
        padding: 5px 30px;
        margin-left: 10px; /* distancia del spinner */
    }

    .campos-obligatorios {
        right: 30px;
    }

    /* ------------------------------------------------------------------------------------ AGENTE PAGE */

    /* ----------------------------------------------------- SECTION A1 */

    .section-A1-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }

    .textos-section-A1 h1 {
        font-size: calc(2vw + 10px);
        margin-top: -20px;
        padding: 0 10px;
        padding-bottom: 10px;
    }

    .textos-section-A1 p {
        text-align: justify;
        font-size: calc(1vw + 9px);
        padding-top: 10px;
    }

    .textos-section-A1 h2 {
        font-size: calc(2vw + 9px);
        padding: 10px 0;
    }

    .img-section-A1 {
        width: 240px;
        margin-left: 5vw;
    }

    .hr-final-section-A1 {
        margin-top: -47px;
        height: 5px;
    }

    /* ----------------------------------------------------- SECTION A2 */

    .section-A2-container {
        padding: 30px 20px;
    }

    .section-A2-container h2 {
        font-size: calc(2vw + 12px);
    }

    .section-A2-container p {
        padding: 10px 40px;
        font-size: calc(1vw + 9px);
    }

    .section-A2-2 {
        height: 270px;
        padding: 0 40px;
    }

    .boton-section-A2 {
        padding: 5px 50px;
        font-size: 16px;
    }

    .hr-final-section-A2 {
        margin-top: 30px;
    }

    /* ------------------------------------------------------------------------------------ FORMULARIO ENVIADO */

    .send-form-container {
        padding-top: 110px;
    }

    .send-form-container h1 {
        font-size: 50px;
    }

    .send-form-container p {
        padding: 0 30px;
    }

    /* ------------------------------------------------------------------------------------ POLITICAS PAGE */

    .politicas-page-container {
        padding: 0 20px;
        padding-top: 90px;
    }

    .politicas-titulos h1 {
        font-size: 28px;
    }

    .politicas-titulos h2 {
        font-size: 18px;
    }

    .politicas-titulos p {
        font-size: 16px;
    }

    .politicas-texto-1,
    .politicas-texto-2 {
        padding: 0 30px;
    }

    .politicas-texto-1 p,
    .politicas-texto-2 p {
        padding: 10px 0;
        font-size: 15px;
    }

    .politicas-texto-1 h3,
    .politicas-texto-1 h4,
    .politicas-texto-2 h3,
    .politicas-texto-2 h4 {
        font-size: 17px;
        padding-top: 25px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 18px;
    }
}

@media (min-width: 768px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 30px;
        padding-left: 10px;
    }

    .logo-navbar-2 {
        height: 15px;
        margin-top: 7px;
    }

    .menu-nav {
        display: flex;
        list-style: none;
        gap: 5px;
        align-items: center;
        margin: 0;
        padding-right: 10px;
        font-size: 16px;
    }

    .linea-separadora {
        margin-left: 5px;
        user-select: none;
    }

    .burger-menu {
        display: none;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 0 8vw;
    }

    .parrafo2 {
        font-size: 14px;
        padding: 0 50px;
        padding-top: 20px;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 80px;
    }

    .boton-section-1 {
        margin: 30px 0;
        padding: 5px 15px;
    }

    .section-1-2-2 {
        padding: 1vw 6vw;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container,
    .section-3-container {
        padding: 0 30px;
    }

    .beneficios-title,
    .necesito-title {
        font-size: calc(2vw + 13px);
        cursor: auto;
    }

    .beneficio-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 10px;
    }

    .beneficio-section.hidden,
    .necesito-section.hidden {
        display: grid;
    }

    .beneficio-item {
        height: 90px;
    }

    .content-parrafo-beneficio {
        padding: 0 5px;
    }

    .beneficio-item p,
    .necesito-item p {
        font-size: calc(1vw + 7px);
    }

    .close-section-btn {
        display: none;
    }

    .hr-final-section-2 {
        margin-top: 20px;
    }

    /* ----------------------------------------------------- SECTION 3 */

    .necesito-items {
        gap: 10px 20px;
    }
    .necesito-item {
        height: 150px;
    }

    .necesito-item img {
        width: 90px;
    }

    /* ----------------------------------------------------- SECTION 4 */

    .section-4-titulo {
        padding: 20px 15px;
        padding-bottom: 0;
    }

    .section-4-titulo h2 {
        font-size: calc(2vw + 20px);
    }

    .section-4-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding: 30px 0;
        padding-top: 20px;
    }

    .section-4-2 {
        margin: 0;
        width: 60%;
    }

    .section-4-3 {
        margin: 0;
        width: 40%;
    }

    .img-section-4 {
        width: 315px;
        margin-left: -5px;
        margin-top: 65px;
    }

    .section-4-3-2 {
        padding: 1vw 14vw;
    }

    .section-4-3-2 h2 {
        margin-left: -50px;
    }

    .section-4-3-2 p {
        margin-left: -50px;
    }

    .hr-final-section-4 {
        margin-top: -47px;
    }

    /* ------------------------------------------------------------------------------------ FORM */

    .content-form {
        padding: 0 20px;
        padding-right: 30px;
    }

    .content-form label {
        font-size: 15px;
    }

    .content-form input,
    .content-form select,
    .content-form option {
        font-size: 14px;
        padding: 0px 5px;
    }

    .input-control {
        padding: 1px 0;
    }

    .checkbox-control {
        padding-top: 5px;
    }

    .form-check-input {
        margin-left: 25px;
    }

    .boton-form {
        padding: 2px 40px;
        margin-left: 10px; /* distancia del spinner */
    }

    .campos-obligatorios {
        right: 40px;
    }

    /* ------------------------------------------------------------------------------------ AGENTE PAGE */

    /* ----------------------------------------------------- SECTION A1 */

    .textos-section-A1 h1 {
        font-size: calc(2vw + 11px);
        padding: 0 10px;
        padding-bottom: 10px;
    }

    .textos-section-A1 p {
        text-align: justify;
        font-size: calc(1vw + 7px);
        padding-top: 10px;
    }

    .textos-section-A1 h2 {
        font-size: calc(2vw + 8px);
        padding: 5px 0;
    }

    /* ----------------------------------------------------- SECTION A2 */

    .section-A2-container {
        padding: 30px 40px;
    }

    .section-A2-container h2 {
        font-size: calc(2vw + 16px);
    }

    .section-A2-container p {
        padding: 10px 60px;
        font-size: calc(1vw + 8px);
    }

    .section-A2-2 {
        height: 330px;
        padding: 0 60px;
    }

    .boton-section-A2 {
        padding: 7px 70px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    /* ------------------------------------------------------------------------------------ FORMULARIO ENVIADO */

    .send-form-container {
        padding-top: 110px;
    }

    .send-form-container h1 {
        font-size: 60px;
    }

    .send-form-container p {
        font-size: 20px;
        padding: 0 50px;
        padding-bottom: 20px;
    }

    /* ------------------------------------------------------------------------------------ POLITICAS PAGE */

    .politicas-page-container {
        padding: 0 30px;
        padding-top: 90px;
    }

    .politicas-titulos h1 {
        font-size: 30px;
    }

    .politicas-titulos h2 {
        font-size: 20px;
    }

    .politicas-titulos p {
        font-size: 18px;
    }

    .politicas-texto-1,
    .politicas-texto-2 {
        padding: 0 40px;
    }

    .politicas-texto-1 p,
    .politicas-texto-2 p {
        font-size: 16px;
    }

    .politicas-texto-1 h3,
    .politicas-texto-1 h4,
    .politicas-texto-2 h3,
    .politicas-texto-2 h4 {
        font-size: 18px;
        padding-top: 30px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 20px;
    }
}

@media (min-width: 992px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 40px;
        padding-left: 35px;
    }

    .logo-navbar-2 {
        height: 20px;
        margin-top: 9px;
    }

    .menu-nav {
        gap: 10px;
        padding-right: 35px;
        font-size: 19px;
    }

    .linea-separadora {
        margin-left: 10px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 0 11vw;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 100px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 7px);
    }

    .boton-section-1 {
        padding: 10px 20px;
        font-size: 20px;
    }

    .section-1-2 {
        margin-top: -60px;
        width: 40%;
    }

    .img-section-1 {
        width: 270px;
        margin-left: 6vw;
    }

    .section-1-2-2 {
        right: -20px;
        padding: 1vw 9vw;
    }

    .section-1-2-2 h2 {
        font-size: 22px;
        margin-right: -40px;
    }

    .section-1-2-2 p {
        font-size: 16px;
        margin-right: -40px;
    }

    .hr-final-section {
        width: 95%;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .beneficios-title,
    .necesito-title {
        font-size: calc(2vw + 15px);
        cursor: auto;
    }

    .beneficio-section {
        gap: 0 20px;
        padding: 10px;
    }

    .beneficio-item {
        height: 90px;
        padding: 0 10px;
    }

    .beneficio-item p,
    .necesito-item p {
        font-size: calc(1vw + 7px);
    }

    .hr-final-section-2 {
        width: 95%;
    }

    /* ----------------------------------------------------- SECTION 3 */

    .section-3-container {
        padding: 0 40px;
    }

    .necesito-items {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 30px;
    }
    .necesito-item {
        height: 180px;
    }

    .necesito-item img {
        width: 100px;
    }

    /* ----------------------------------------------------- SECTION 4 */

    .section-4-titulo {
        padding: 30px 15px;
        padding-bottom: 0;
    }

    .section-4-titulo h2 {
        font-size: calc(2vw + 27px);
    }

    .img-section-4 {
        width: 350px;
        margin-left: 15px;
        margin-top: 50px;
    }

    .section-4-3-2 {
        padding: 1vw 15vw;
    }

    .section-4-3-2 h2 {
        font-size: 22px;
        margin-left: -70px;
    }

    .section-4-3-2 p {
        font-size: 16px;
        margin-left: -70px;
    }

    .hr-final-section-4 {
        width: 95%;
    }

    /* ------------------------------------------------------------------------------------ FORM */

    .content-form {
        padding: 0 20px;
        padding-right: 40px;
    }

    .content-form input,
    .content-form select,
    .content-form option {
        font-size: 15px;
    }

    .input-control {
        padding: 2px 0;
    }

    .checkbox-control {
        padding-top: 5px;
    }

    .boton-form {
        padding: 5px 60px;
        margin-left: 10px; /* distancia del spinner */
    }

    .campos-obligatorios {
        right: 60px;
    }

    /* ------------------------------------------------------------------------------------ AGENTE PAGE */

    /* ----------------------------------------------------- SECTION A1 */

    .section-A1-container {
        padding: 30px 0;
        margin-top: 30px;
    }

    .img-section-A1 {
        width: 300px;
        margin-left: 4vw;
    }

    /* ----------------------------------------------------- SECTION A2 */

    .section-A2-container {
        padding: 30px 60px;
    }

    .section-A2-container h2 {
        font-size: calc(2vw + 18px);
    }

    .section-A2-container p {
        font-size: calc(1vw + 8px);
    }

    .section-A2-2 {
        height: 400px;
        padding: 0 90px;
    }

    .boton-section-A2 {
        padding: 7px 70px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    /* ------------------------------------------------------------------------------------ AGENTE PAGE */

    .politicas-page-container {
        padding: 0 40px;
        padding-top: 110px;
    }

    .politicas-titulos h1 {
        font-size: 35px;
    }

    .politicas-titulos h2 {
        font-size: 22px;
    }

    .politicas-titulos p {
        font-size: 20px;
    }

    .politicas-texto-1,
    .politicas-texto-2 {
        padding: 0 50px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 23px;
    }
}

@media (min-width: 1200px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 50px;
        padding-left: 65px;
    }

    .logo-navbar-2 {
        margin-top: 15px;
    }

    .menu-nav {
        gap: 13px;
        padding-right: 60px;
        font-size: 22px;
    }

    .linea-separadora {
        margin-left: 13px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 0 13vw;
    }

    .section-landing-1 h1 {
        margin-top: 20px;
    }

    .parrafo2 {
        font-size: 16px;
        padding: 0 60px;
        padding-top: 20px;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 110px;
        padding: 0 30px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 6px);
    }

    .boton-section-1 {
        padding: 15px 25px;
        font-size: 22px;
    }

    .section-1-2 {
        margin-top: -80px;
    }

    .img-section-1 {
        margin-left: 7vw;
    }

    .section-1-2-2 {
        padding: 1vw 11vw;
    }

    .section-1-2-2 h2 {
        margin-right: -50px;
    }

    .section-1-2-2 p {
        margin-right: -50px;
    }

    .hr-final-section {
        height: 7px;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container {
        padding: 0 50px;
    }

    .beneficio-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 10px;
    }

    .beneficio-item {
        height: 100px;
        padding: 0 5px;
    }

    .background-circle-beneficio {
        width: 90px;
        height: 90px;
    }

    .content-parrafo-beneficio {
        padding: 0 10px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 2px);
    }

    .hr-final-section-2 {
        height: 7px;
    }

    /* ----------------------------------------------------- SECTION 3 */

    .section-3-container {
        padding: 0 90px;
    }

    .necesito-items {
        gap: 20px 40px;
    }

    .necesito-item {
        height: 170px;
        padding: 0 20px;
    }

    .necesito-item p {
        font-size: calc(1vw + 5px);
    }

    /* ----------------------------------------------------- SECTION 4 */

    .img-section-4 {
        width: 305px;
        margin-left: 95px;
        margin-top: 0px;
    }

    .section-4-3-2 {
        padding: 1vw 18vw;
        bottom: 25px;
    }

    .section-4-3-2 h2 {
        margin-left: -150px;
    }

    .section-4-3-2 p {
        margin-left: -150px;
    }

    /* ------------------------------------------------------------------------------------ FORM */

    .content-form {
        padding: 0 0px;
        padding-right: 80px;
    }

    .form-block-1,
    .form-block-2,
    .form-block-6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .content-form label {
        font-size: 14px;
    }

    .content-form input,
    .content-form select,
    .content-form option {
        font-size: 15px;
        padding: 2px 10px;
    }

    .input-control {
        padding: 1px 0;
    }

    .checkbox-control {
        padding-top: 10px;
    }

    .text-danger {
        font-size: 14px;
    }

    .boton-form {
        padding: 6px 80px;
        margin-left: 10px; /* distancia del spinner */
    }

    .campos-obligatorios {
        right: 80px;
    }

    /* ------------------------------------------------------------------------------------ AGENTE PAGE */

    /* ----------------------------------------------------- SECTION A1 */

    .textos-section-A1 h1 {
        font-size: calc(2vw + 14px);
        margin-top: -50px;
    }

    .textos-section-A1 p {
        font-size: calc(1vw + 6px);
    }

    .textos-section-A1 h2 {
        font-size: calc(2vw + 7px);
        padding: 0px 0;
        padding-top: 20px;
    }

    .section-A1-container {
        padding: 30px 0;
        margin-top: 100px;
    }

    .img-section-A1 {
        width: 320px;
        margin-left: 4vw;
    }

    /* ----------------------------------------------------- SECTION A2 */

    .section-A2-container {
        padding: 30px 60px;
    }

    .section-A2-container h2 {
        font-size: calc(2vw + 20px);
    }

    .section-A2-container p {
        padding: 20px 60px;
        font-size: calc(1vw + 8px);
    }

    .section-A2-2 {
        height: 410px;
        padding: 0 19vw;
    }

    .boton-section-A2 {
        padding: 7px 70px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    /* ------------------------------------------------------------------------------------ FORMULARIO ENVIADO */

    .send-form-container {
        padding-top: 150px;
    }

    .send-form-container h1 {
        font-size: 60px;
    }

    .send-form-container p {
        font-size: 20px;
        padding: 0 50px;
        padding-bottom: 20px;
    }

    /* ------------------------------------------------------------------------------------ POLITICAS PAGE */

    .politicas-page-container {
        padding: 0 50px;
        padding-top: 120px;
    }

    .politicas-titulos h1 {
        font-size: 40px;
    }

    .politicas-titulos h2 {
        font-size: 25px;
    }

    .politicas-titulos p {
        font-size: 22px;
    }

    .politicas-texto-1,
    .politicas-texto-2 {
        padding: 0 60px;
    }

    .politicas-texto-1 h3,
    .politicas-texto-1 h4,
    .politicas-texto-2 h3,
    .politicas-texto-2 h4 {
        font-size: 20px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 26px;
    }
}

@media (min-width: 1400px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 70px;
        padding-left: 75px;
    }

    .logo-navbar-2 {
        margin-top: 25px;
    }

    .menu-nav {
        gap: 16px;
        padding-right: 80px;
        font-size: 24px;
    }

    .linea-separadora {
        margin-left: 16px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .landing-page-container {
        padding-top: 130px;
    }

    .section-landing-1 {
        padding: 0 16vw;
    }

    .parrafo2 {
        font-size: 17px;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 140px;
        margin-top: 40px;
        padding: 0 50px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 6px);
    }

    .boton-section-1 {
        padding: 20px 30px;
        font-size: 25px;
    }

    .section-1-2 {
        margin-top: -80px;
    }

    .img-section-1 {
        margin-left: 6vw;
        width: 330px;
    }

    .section-1-2-2 {
        padding: 1vw 13vw;
    }

    .section-1-2-2 h2 {
        font-size: 25px;
        margin-right: -80px;
    }

    .section-1-2-2 p {
        font-size: 18px;
        margin-right: -80px;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container {
        padding: 0 70px;
    }

    .beneficio-section {
        gap: 0 20px;
    }

    .beneficio-item {
        height: 110px;
        padding: 0 5px;
    }

    .background-circle-beneficio {
        width: 100px;
        height: 100px;
    }

    .img-circle-beneficio {
        width: 70px;
    }

    .content-parrafo-beneficio {
        padding: 0 5px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 2px);
    }

    /* ----------------------------------------------------- SECTION 3 */

    .section-3-container {
        padding: 0 150px;
    }

    .necesito-item {
        height: 175px;
    }

    .necesito-item p {
        font-size: calc(1vw + 6px);
    }

    /* ----------------------------------------------------- SECTION 4 */

    .img-section-4 {
        width: 400px;
        margin-left: 100px;
        margin-top: 0px;
    }

    .section-4-3-2 {
        padding: 1vw 19vw;
    }

    .section-4-3-2 h2 {
        font-size: 25px;
        margin-left: -200px;
    }

    .section-4-3-2 p {
        font-size: 18px;
        margin-left: -200px;
    }

    .hr-final-section-4 {
        height: 7px;
    }

    /* ------------------------------------------------------------------------------------ FORM */

    .content-form {
        padding: 0 0px;
        padding-right: 80px;
    }

    .form-block-1,
    .form-block-2,
    .form-block-6 {
        gap: 20px;
    }

    .content-form label {
        font-size: 17px;
    }

    .content-form input,
    .content-form select,
    .content-form option {
        padding: 5px 10px;
    }

    .boton-form {
        padding: 8px 100px;
        font-size: 20px;
        margin-left: 10px; /* distancia del spinner */
    }

    .campos-obligatorios {
        right: 100px;
    }

    /* ------------------------------------------------------------------------------------ AGENTE PAGE */

    /* ----------------------------------------------------- SECTION A1 */

    .section-A1-container {
        padding: 30px 0;
        margin-top: 50px;
    }

    .textos-section-A1 h1 {
        margin-top: -80px;
    }

    .textos-section-A1 p {
        font-size: calc(1vw + 7px);
    }

    .img-section-A1 {
        width: 370px;
        margin-left: 2vw;
    }

    /* ----------------------------------------------------- SECTION A2 */

    .section-A2-container h2 {
        font-size: calc(2vw + 20px);
        padding: 0 80px;
    }

    .section-A2-container p {
        padding: 30px 60px;
        font-size: calc(1vw + 9px);
    }

    .section-A2-2 {
        height: 410px;
        padding: 0 25vw;
    }

    .boton-section-A2 {
        padding: 9px 90px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    /* ------------------------------------------------------------------------------------ FORMULARIO ENVIADO */

    .send-form-container {
        padding-top: 150px;
    }

    .send-form-container h1 {
        font-size: 100px;
    }

    .send-form-container p {
        font-size: 30px;
        padding-bottom: 30px;
    }

    /* ------------------------------------------------------------------------------------ POLITICAS PAGE */

    .politicas-page-container {
        padding: 0 60px;
        padding-top: 150px;
    }

    .politicas-titulos h1 {
        font-size: 45px;
    }

    .politicas-titulos h2 {
        font-size: 28px;
    }

    .politicas-texto-1,
    .politicas-texto-2 {
        padding: 0 70px;
    }

    .politicas-texto-1 p,
    .politicas-texto-2 p {
        font-size: 18px;
    }

    .politicas-texto-1 h3,
    .politicas-texto-1 h4,
    .politicas-texto-2 h3,
    .politicas-texto-2 h4 {
        font-size: 22px;
        padding-top: 35px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 30px;
    }
}

@media (min-width: 1700px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 80px;
        padding-left: 130px;
    }

    .logo-navbar-2 {
        margin-top: 35px;
    }

    .menu-nav {
        gap: 19px;
        padding-right: 130px;
        font-size: 28px;
    }

    .linea-separadora {
        margin-left: 19px;
    }

    /* ------------------------------------------------------------------------------------ LANDING PAGE */

    .section-landing-1 {
        padding: 10px 20vw;
    }

    /* ----------------------------------------------------- SECTION 1 */

    .section-1-1 {
        margin-left: 180px;
        margin-top: 110px;
        padding: 0 80px;
    }

    .section-1-parrafo {
        font-size: calc(1vw + 7px);
    }

    .boton-section-1 {
        padding: 20px 50px;
    }

    .section-1-2 {
        margin-top: -50px;
    }

    .img-section-1 {
        width: 400px;
        margin-left: 2vw;
    }

    .section-1-2-2 {
        padding: 0.5vw 14vw;
    }

    .section-1-2-2 h2 {
        font-size: 28px;
        margin-right: -130px;
    }

    .section-1-2-2 p {
        font-size: 20px;
        margin-right: -130px;
    }

    /* ----------------------------------------------------- SECTION 2 */

    .section-2-container {
        padding: 0 110px;
    }

    .beneficio-section {
        gap: 0 10px;
    }

    .beneficio-item {
        height: 140px;
        padding: 0 5px;
    }

    .background-circle-beneficio {
        width: 130px;
        height: 130px;
    }

    .img-circle-beneficio {
        width: 90px;
    }

    .content-parrafo-beneficio {
        padding: 0 5px;
    }

    .beneficio-item p {
        font-size: calc(1vw + 1px);
    }

    /* ----------------------------------------------------- SECTION 3 */

    .section-3-container {
        padding: 0 200px;
    }

    .necesito-item {
        height: 190px;
    }

    .necesito-item p {
        font-size: calc(1vw + 7px);
    }

    /* ----------------------------------------------------- SECTION 4 */

    .img-section-4 {
        width: 400px;
        margin-left: 200px;
        margin-top: 20px;
    }

    .section-4-3-2 {
        padding: 0.5vw 19vw;
    }

    .section-4-3-2 h2 {
        font-size: 28px;
        margin-left: -250px;
    }

    .section-4-3-2 p {
        font-size: 20px;
        margin-left: -250px;
    }

    /* ------------------------------------------------------------------------------------ FORM */

    .content-form {
        padding-right: 200px;
    }

    .content-form label {
        font-size: 18px;
    }

    .content-form input,
    .content-form select,
    .content-form option {
        font-size: 18px;
        padding: 6px 10px;
    }

    .boton-form {
        padding: 9px 100px;
        font-size: 22px;
        margin-left: 10px; /* distancia del spinner */
    }

    .campos-obligatorios {
        right: 220px;
    }

    /* ------------------------------------------------------------------------------------ AGENTE PAGE */

    /* ----------------------------------------------------- SECTION A1 */

    .section-A1-container {
        margin-top: 30px;
    }

    .textos-section-A1 h1 {
        margin-top: -100px;
    }

    .textos-section-A1 p {
        font-size: calc(1vw + 6px);
        padding: 15px 50px;
    }

    .img-section-A1 {
        margin-left: 2vw;
        margin-top: 30px;
    }

    /* ----------------------------------------------------- SECTION A2 */

    .section-A2-container {
        margin-top: 30px;
    }

    .section-A2-container h2 {
        padding: 0 200px;
    }

    .section-A2-container p {
        text-align: center;
        padding: 30px 10px;
        font-size: calc(1vw + 9px);
    }

    .section-A2-2 {
        height: 470px;
        padding: 0 25vw;
    }

    .boton-section-A2 {
        padding: 9px 90px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    /* ------------------------------------------------------------------------------------ FORMULARIO ENVIADO */

    .send-form-container {
        padding-top: 200px;
    }

    .send-form-container h1 {
        font-size: 130px;
    }

    .send-form-container p {
        font-size: 30px;
        padding-bottom: 50px;
    }

    /* ------------------------------------------------------------------------------------ POLITICAS PAGE */

    .politicas-page-container {
        padding: 0 60px;
        padding-top: 170px;
    }

    .politicas-titulos h1 {
        font-size: 50px;
    }

    .politicas-titulos h2 {
        font-size: 30px;
    }

    .politicas-titulos p {
        font-size: 25px;
    }

    .politicas-texto-1,
    .politicas-texto-2 {
        padding: 0 80px;
    }

    .politicas-texto-1 p,
    .politicas-texto-2 p {
        font-size: 20px;
    }

    .politicas-texto-1 h3,
    .politicas-texto-1 h4,
    .politicas-texto-2 h3,
    .politicas-texto-2 h4 {
        font-size: 25px;
        padding-top: 40px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 35px;
    }
}
